{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}
        {{ title }} | Flask App
    {% else %}
        LightChat
    {% endif %}
{% endblock %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <body style="background-color:RGB(255, 250, 250);">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            {% block app_content %}
            {% endblock %}
        </div>
    </body>
{% endblock %}